/* header section start here */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* scroll-behavior: inherit !important; */
    overflow:none;
   
    
 }
    
    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
        
    }
    body{
    background-color:#FFFFFF;
    
    
    }
    
    
   header{
        position:relative;
        background-image: url("image/Background\ image\ 2024-25.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit:cover;
        width:100%;
        height: 850px;    
        
    }

    nav{
  margin-top: 10px;
   padding: none;
  
   
    }

    .navbar{
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
    }

    .navbar.stickey{
        background: #fff;
        padding: 10px 100px;
        margin-top: 0;
    }

    .navbar.stickey .btn3{
        margin: 5px 20px;

    }

    .navbar.stickey ul a{
        color:black;
    }

   .nav-item{
    margin-left:10px;
    
   }

    .nav-item a{
        font-size: 16px;
       
    }


.nav-link{
    color:white;
    font-size: 18px;
}

.nav-link:hover{
    color:white;
}

.navbar-brand{
    margin-left: 150px;
}



.btn3{
    padding:16px 24px;
    border:none;
    outline:none;
    border-radius: 4px;
    font-size: 14px;
    font-weight:bold;
    margin-top: 10px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:rgb(156, 186, 233);
    
}

.btn3::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#e63cc1;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn3:hover::after{
    transform: scale(1,1);
    transform-origin: top right;
}

/* hero box section start */
.hero-box{
    /* position: absolute; */
    transform: translate(10%,12%);
    padding-top: 10px;
}

.hero-box h1{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
    padding-top:8px;
    font-family:Lucida Sans;
    margin-top:10px;
}

.hero-box p{
    color:#fff;
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
}

.auto-text h3{
    color:rgb(109, 22, 190);
    font-size: 16px;
    margin-top:110px;
}

#auto-typing{
    font-size: 16px;
    color:#fff;
   
}

.auto-text{
    display: grid;
    grid-template-columns: auto auto;
    margin-right:1010px;
   
    
    
}
.auto-text img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:1px solid #f1e8e8;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
    margin-top: 80px;
    margin-bottom: 15px;
   
   
}

.button-section button{
    padding:15px 25px;
    border:none;
    outline:none;
    border-radius: 4px;
    font-size: 14px;
    font-weight:bold;
    margin-top: 10px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    color:#7B68EE;
    
    
}

.button-section button::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#3E57D0;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top right;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    
}
.button-section button:hover{
    color:#fff;
}
.button-section button:hover::after{
    transform: scale(1,1);
    transform-origin: right left;
    
    

}

.button-section .btn2{
    margin-left: 40px;
    
}

.navbar-brand img{
    width: 90px;
    height: auto;
}

.navbar-icon{
    font-size: 2rem;
}

.menu-bar{
    width: 30px;
    height: auto;
    margin-left:4px;
    padding:3px;
}


    
    



/* herobox section end */
/* header section end here */

/* service section start here */

.about-company{
    background-color:#F7F8F8;
    padding: 100px;
}

.service-1{
    margin-top: 90px;
   
}
.webdevelopment{
    width: 50px;
    transition: transform 0.6s;
   
 
}
.webdevelopment:hover{
    transform:rotateY(180deg) ;
    
}

h6{
    color:#FF982F;
}

h4{
    color:black;
    font-weight:bolder;
    margin-top: 16px;
    
}

.single-section-item{
    box-shadow: 5px 7px 15px 2px rgba(82,90,101,0.12);
    padding: 35px 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: transform 0.6s ease-in;
    
     
}

.single-section-item:hover{
    transform: translateY(10px);
}




.web{
    margin-top: 25px;
    font-size: 16px;
    color:black;
}

.text1{
    font-size: 14px;
    color:#777;
}

.read-section{
    font-size: 12px;
   
}

.fa-solid{
    color:#B092EF;
    font-size: 14px;
}

.rbtn{
    text-decoration: none;
    font-size: 15px;
    color:#B092EF;
    font-weight: 500;
}

.rbtn:hover{
    color:#B092EF;
}

.fa-arrow-right{
    transition: transform 0.6s;
}

.fa-arrow-right:hover{
    transform: translateX(5px);
}

.section-title{
    margin-top: 10px;
    margin-bottom: 10px;
    
}


/* service section end here */

/* about our company section start here */

.about-company{
    font-family: 'Montserrat', sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}
.row1{
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius:50%;
    margin-top: 45px;
}
.row1 .icon{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    left: -50%;
    flex-flow:column wrap;
    
}

.row1 .icon .imgBx{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #fff;
    box-shadow:0 0 0 1px black, 0 0 0 2px #777;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 222px;
    z-index: 100;
    overflow: hidden;
}

.row1 .icon .imgBx.active{
    box-shadow: 0 0 1px #222, 0 0 0 2px #777;
}

.row1 .icon .imgBx img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg)/8 *var(--i));
    transition: 0.5s;
    filter:brightness(1);
}

.row1 .icon .imgBx.active img{
    filter: brightness(1);
}

.content{
    position: absolute;
    inset: 0;
    overflow:hidden ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content::before{
    content: "";
    position: absolute;
    inset: 35px;
    border: 4px solid transparent;
    border-left: 4px solid #21966f;
    border-right: 4px solid #3910ec;
    border-radius: 50%;
    animation: animate-01 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate-01{
    0%{
        rotate: 0deg;
    }

    100%{
        rotate: 360deg;
    }
}


.content::after{
    content: "";
    position: absolute;
    inset: 50px;
    border: 4px solid transparent;
    border-left: 4px solid #f1259c;
    border-right: 4px solid #31cc45;
    border-radius: 50%;
    animation: animate-02 5s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes animate-02{
    0%{
        rotate: 360deg;
    }

    100%{
        rotate:0deg;
    }
}

.contentBx{
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx.active{
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.3s;
}

.contentBx .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;
    background: gainsboro;
    width: 75%;
    height: 60%;
   
}

.contentBx .card .imgBx{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
}

.contentBx .card .imgBx img{
    position: absolute;
    top:10px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.contentBx .card .textBx{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentBx .card .textBx h2{
    position: relative;
    font-size: 0.7rem;
    font-weight: 600;
    color:#302d2d;
    text-transform: uppercase;
    text-align: center;
}

.contentBx .card .textBx h2 span{
    font-size:9px;
    color:#e42f99;
    font-weight: 500;
    letter-spacing:1.5px;
    
}

.contentBx .card .textBx .sci{
    position: relative;
    display: flex;
    gap:7px;
    margin-top: 10px;
    margin-right:32px;
   
}

.contentBx .card .textBx .sci li{
    list-style: none;
    
}

.contentBx .card .textBx .sci li a{
    position: relative;
    width: 30px;
    height: 30px;
    padding:6px;
    padding-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #444;
    color:#fff;
    text-decoration: none;
    border-radius: 5px;
    overflow: hidden;
    
}



.contentBx .card .textBx .sci li a:hover{
    background: #2196f3;
    
}

/* progressbar start here */

.company-section{
    width: 100%;
    padding: 10px;
}

.btn001{
    padding:15px 30px;
    border:none;
    outline:none;
    border-radius: 4px;
    font-size: 14px;
    font-weight:bold;
    margin-top: 30px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#eb0bba;
    
    
}

.btn001::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#3910ec;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn001:hover::after{
    transform: scale(1,1);
    transform-origin: top right;
}

.company-section{
    width: 100%;
    padding: 10px;
}

h3{
    color: #FF9800;
    font-size: 20px;
    margin-bottom: 10px;
}



h2{
    margin-bottom: 10px;
}

.box{
    margin-top:20px;
}

.box p{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.progress_box{
    width: 100%;
    height: 8px;
    background: #DDDDFF;
    border-radius: 25px;
    overflow: hidden;
   
}

.progress{
    height: 100%;
}

.progress.IT{
    background: #7B68EE;
    width: 90%;
}

.progress.Cloud{
 background: #7B68EE;
 width: 75%;
}

.progress.Managed{
 background: #7B68EE;
 width: 85%;
}



/* comapany about */
.com-info{
    font-size: 18px;
    color:#FF9800;
    font-weight: 500px;
    margin-left: 30px;
    margin-bottom: 15px;
    margin-top: 45px;
}

.com-det{
    font-size: 30px;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 15px;
}

.com-descri{
font-size: 14px;
margin-left: 30px;

}
/* progressbar end here */
/* about our company section end here */

/* choosen section start here */
.section1{
    width: 100%;
    height: 500px;
    background: #fff;
    margin-top:100px;

}

.image > img{
    max-width: 80%;
    height: auto;
    margin-left: 85px;
}

.intro > h5{
    font-size: 16px;
    color: #FF9800;
    font-weight: 600px;
    margin-bottom: 10px;
}

.intro > h1{
    font-size: 30px;
    color:#404040;
    width: 550px;
    font-weight:700;
    line-height:46px;
    margin-bottom: 10px;
}

.intro > p{
    font-size: 16px;
    font-weight:300;
    line-height: 30px;
    color:#777;
    margin-bottom: 30px;
}

.IT-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 15px;
    
}



.IT-section > .div1{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    
    
}



.IT-section > .div1::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section > .div1:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section > .div1 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section > .div1 > p:hover{
    color:white;
}


.IT-section > .div2{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    transform: translateX(-120px);
    overflow: hidden;
    
    
}



.IT-section > .div2::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section > .div2:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section > .div2 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section > .div2 > p:hover{
    color:white;
}


.IT-section > .div3{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    
    
}



.IT-section > .div3::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section > .div3:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section > .div3 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section > .div3 > p:hover{
    color:white;
}

.IT-section > .div4{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    overflow: hidden;
   transform: translateX(-120px);
    
    
}



.IT-section > .div4::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section > .div4:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section > .div4 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section > .div4 > p:hover{
    color:white;
}

.IT-section > .div5{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
   
    
    
}



.IT-section > .div5::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section > .div5:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section > .div5 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section > .div5 > p:hover{
    color:white;
}

.IT-section > .div6{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    transform: translateX(-120px);
    overflow: hidden;
    
    
}



.IT-section > .div6::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section > .div6:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section > .div6 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section > .div6 > p:hover{
    color:white;
}

/* choosen section end here */

/* trust section start here */

.section-2{
    width: 100%;
    height: 500px;
    background: #fff;
    margin-top:100px;
    margin-left: 100px;
    

}

.image1 > img{
    max-width: 80%;
    height: auto;
    
}

.intro1 > h5{
    font-size: 16px;
    color: #FF9800;
    font-weight: 600px;
    margin-bottom: 10px;
}

.intro1 > h1{
    font-size: 30px;
    color:#404040;
    width: 550px;
    font-weight:700;
    line-height:46px;
    margin-bottom: 10px;
}

.intro1 > p{
    font-size: 16px;
    font-weight:300;
    line-height: 30px;
    color:#777;
    margin-bottom: 30px;
}

.IT-section1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 15px;
    
}



.IT-section1 > .div7{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    
    
}



.IT-section1 > .div7::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section1 > .div7:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section1 > .div7 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section1 > .div7 > p:hover{
    color:white;
}


.IT-section1 > .div8{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    transform: translateX(-120px);
    overflow: hidden;
    
    
}



.IT-section1 > .div8::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section1 > .div8:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section1 > .div8 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section1 > .div8 > p:hover{
    color:white;
}


.IT-section1 > .div9{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    
    
}



.IT-section1 > .div9::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section1 > .div9:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section1 > .div9 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section1 > .div9 > p:hover{
    color:white;
}

.IT-section1 > .div10{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    overflow: hidden;
   transform: translateX(-120px);
    
    
}



.IT-section1 > .div10::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section1 > .div10:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section1 > .div10 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section1 > .div10 > p:hover{
    color:white;
}

.IT-section1 > .div11{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
   
    
    
}



.IT-section1 > .div11::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section1 > .div11:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section1 > .div11 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section1 > .div11 > p:hover{
    color:white;
}

.IT-section1 > .div12{
    background: #FFFFFF;
    width: 280px;
    box-shadow: 1px 3px 20px 0px rgba(82,90,101,0.2);
    border-radius: 4px;
    border-left: 2px  solid #7B68EE;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all 0.6s;
    transition-delay: 0.3s;
    color:#fff;
    margin-right: 150px;
    background-color:#ffffff;
    transform: translateX(-120px);
    overflow: hidden;
    
    
}



.IT-section1 > .div12::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:#7B68EE;
    z-index:-1;
    transition: 0.6s ease all;
    transform: scale(0,1);
    transform-origin: top bottom;
    transition:transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
}

.IT-section1 > .div12:hover::after{
    transform: scale(1,1);
    transform-origin: top left;
    
    
}

.IT-section1 > .div12 > p{
    font-size: 15px;
    color:#474444;
    font-weight: 500px;
    padding: 0px 15px;
    margin-top:15px ;
}

.IT-section1 > .div12 > p:hover{
    color:white;
}

/* truct section end here */


/* conuter-section start here */

.counter-area{
    position: relative;
    padding: 120px 0px;
    z-index:1; 
    text-align: center;
    margin: 60px 0px 60px 0px;
    background: url(image/banner-bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    object-fit:fill;
    
}

.section-padding{
  padding: 100px 0px;
  
  }

.counter-content{
    color:white;
    }

.counter-number{
    font-size: 50px;
    font-family:sans-serif;
    font-weight: 600;
}

.counter-heading{
    color:white;
    font-family:sans-serif;
    font-size: 18px;
    font-weight: 300;

}







/* counter-sectio end here */

/* testimonial section start here */

.testimoinal-section{
    margin-top:120px;
    margin-bottom:100px;
    text-align: center;
}
.card-body{
    background: #FAFAFA;
}
.icon-image{
    text-align: center;
    margin-bottom: 20px;
}

.card-text{
    text-align: center;
}



.client-infon01 > img{
    width: 90px;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    border-left: 4px solid #7B68EE;
    border-bottom: 4px solid #7B68EE;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

.card-text{
    font-size: 15px;
    font-family:monospace;
    font-weight: 500px;
    color:#242121
}

.client-infon01 h3{
    font-size: 16px;
    text-align: center;
    color:black;
    font-weight: 500;
}

.country{
    color:#7B68EE;
    font-size: 14px;
    
}

.card{
    margin: auto;
}

.section-title > h2{
    color:#777;
    font-size: 28px;
    margin-bottom: 30px;
}


/* testimonial section end here */


/* expert section start here */
.expert-2 > img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 1px solid #777;
    border-radius: 6px;
   }

.expert-2{
    position: relative;
    padding:4px;
    }

.overlay{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background:black;
    opacity: 0;
    cursor: pointer;
    margin:4px;
    transition: opacity 0.6s ease-in-out;
    
}

.content001{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}

.content001 > a >.fa-brands{
    width: 30%;
    padding: 10px;
    font-size: 20px;
    border:1px solid #777;
    text-align: center;
    border-radius: 8px;
    color:white;
    }

    .content001 > a >.fa-brands:hover{
    background: #7B68EE;
    
}

.expert-2:hover .overlay{
    opacity: 0.8;
    border-radius: 6px;
    
}

.expert-info{
    text-align: center;
    margin-top: 6px;
    
  
}

.ei-expert{
    color:#7B68EE;
    font-size: 14px;
    display: block;
}

.expert-1{
    text-align: center;
    margin-bottom: 40px;
}

.expert-1 > h4{
    color:#FF9800;
    font-size: 16px;
}

.owner{
    margin-bottom: 40px;
    margin-top: 40px;
}

/* expert section end here */


/* blog&article section start here */
.blog-info{
    display: flex;
    list-style: none;
    gap: 15px;
}

.fim{
 font-size: 16px;
 
}

.lim1:nth-child(1)::after{
    content: "Author";
    font-size: 14px;
    margin-left: 4px;
}

.lim2:nth-child(2)::after{
    content: " 20 June 2024";
    font-size: 14px;
    margin-left: 4px;
}

.blog-b{
    color:blueviolet;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500px;
}

.blo{
    font-size: 14px;
    color:blueviolet;
}

.blog-section{
    width: 100%;
    background: #F7F8F8;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 130px;
    
    
}

.section-title1{
    text-align: center;
    margin-bottom: 30px;
}

.section-title1 > h6{
    font-size: 14px;
    font-weight: 600;
    
}

.section-title1 > h2{
    font-size:30px;
    font-weight: 600;
}

.blog-text{
    padding: 5px;
    
}

.card-text{
    text-align: justify;
    font-family: Arial;
    color:#777;
}

.blog-btn{
    padding: 6px;
}

.card{
    box-shadow: 1px 2px 2px  rgba(0,0,0,0.2);
   
}


/* blog&article section end here */

/* hire section start header */


.hire_background{
    position: relative;
    z-index: 1;
    background: url("image/banner-bg1.jpg");
    margin-bottom:40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity:0.9;
    object-fit: fill;
    height:400px;
    offset:2;
    padding: 10px;
    
  
}



.hire-content{
    
    text-align: center;
    margin-top: 30px;
    
    
}

.hire-content > h6{
    position: absolute;
    top:70px;
    bottom: 0;
    left: 540px;
    font-size: 16px;
    color:#F98059;
    font-weight: 600;
    z-index: 2;
    
}

.hire-content > h2{
    position: absolute;
    top:110px;
    bottom: 0;
    left: 340px;
    font-size: 30px;
    color:#fff;
    font-weight: 600;
    z-index:2;
    
}


.hire-content > p{
    width: 60%;
    position: absolute;
    top:160px;
    bottom: 0;
    left: 260px;
    font-size: 16px;
    color:#fff;
    font-weight: 600;
    line-height: 30px;
    z-index: 2;
    
}

.hire-btn{
    position: absolute;
    top: 300px;
    left: 500px;
    
    
}



.hire-btn > a:nth-child(1){
    text-decoration: none;
    background: #7A67ED;
    padding: 15px 35px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    font-size: 600;
    box-sizing: content-box;
    

}


.hire-btn > a:nth-child(2){
    text-decoration: none;
    background: white;
    padding: 15px 25px;
    border-radius: 4px;
    font-size: 16px;
    color: #3E57D0;
    font-size: 600;
    box-sizing: content-box;
    margin-left: 20px;
    
}



/* hire section end here */


/* partner section start here */
.partner-section{
    width: 100%;
    padding: 80px;
    text-align: center;
}

.partner-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:40px 20px
    
}

.partner-item{
    width: 100%;
    text-decoration: none;
    background: #fff;
    border: 1px solid #777;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 10px;
   
    
    
}

.partner-item > a > img{
    width: 85%;
    padding:10px 20px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    

}

.partner-item:nth-child(6){
    margin-left: 120px;
}

.partner-item:nth-child(7){
    margin-left: 120px;
}

.partner-item:nth-child(8){
    margin-left: 120px;
}

.partner-item:nth-child(9){
    margin-left: 120px;
}

.partner-title > h6{
    font-size: 15px;
    font-weight: 600;
    margin-bottom:16px;
}

.partner-title > h2{
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 600;
}
/* partner section end here */

/* footer section start here */
footer{
    background: url("image/Untitled-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit:cover;
    
}



.subscribe-area::after{
    content: "";
    width: 100%;
    background: #777;
    height:1px;
    display: block;
    margin-top: 20px;
    
}


.footer-area::after{
    content: "";
    width: 100%;
    background: #777;
    height:1px;
    display: block;
    margin-top: 20px;
    
}


.subscribe-content{
    margin-top: 40px;
    color:white;
}

.subscribe-content > h2{
    font-size: 25px;
    font-weight: 600;
}

.subscribe-content > p{
    font-size: 14px;
    margin-top: 20px;
}

.newsletter-form{
    margin-top: 60px;
}

.newsletter-form > input{
    padding: 14px 35px;
    outline: none;
    border: none;
    border-radius: 6px 0 0 6px;
    margin-left: 10px;
    color:#777;
    
    
}

.newsletter-form > button{
    border: none;
    outline: none;
    background: #7C68EC;
    padding: 14.5px 20px;
    color:white;
    border-radius: 0 6px 6px 0;
    transform: translateX(-3.6px);
    
   
}

.newsletter-form > button:hover{
    background: #FF9800;
}


.footer-logo > img{
    width: 180px;
    margin-top: 10px;
    transform: translateX(-90px);
    margin-bottom: 20px;
}

.footer-text{
    width: 350px;
    color:white;
    text-align: justify;
    transform: translate(-50px, -50px);
    font-size: 15px;
   
    
}

.footer-social01{
    display: flex;
    gap: 10px;
    list-style: none;
    font-size: 20px;
    transform: translate(-80px, -40px);
    
}

.footer-social01 > li > a{
    background: #fff;
    padding:6px 10px;
    text-decoration: none;
    border-radius: 6px;
    color:#7B68EE;
   
    
   
    
}

.footer-social01 > li > a:hover{
    background: #7B68EE;
    color:white;
}

.footer-name1::after{
    content: "";
    width: 50%;
    background: #777;
    height: 1px;
    display: block;
    margin: 0 auto;
}

.footer-name2::after{
    content: "";
    width: 50%;
    background: #777;
    height: 1px;
    display: block;
    margin: 0 auto;
}


.footer-name1 > h3{
    text-align: center;
    margin-top: 70px;
    color:white;
}

.footer-social2{
    width: 100%;
    list-style: none;
    margin-left: 40px;
    margin-top: 20px;
    line-height: 40px;
    text-transform: capitalize;
}

.footer-social2 > li > a{
    text-decoration: none;
    color:white;
    font-size: 16px;
}

.footer-social2 > li > a:hover{
    text-decoration: underline;
    color: #7B68EE;
}

.footer-name2 > h3{
    text-align: center;
    margin-top: 70px;
    color:white;
}

.footer-social3{
    width: 100%;
    list-style: none;
    margin-left: 40px;
    margin-top: 20px;
}

.footer-social3 > li > a{
    text-decoration: none;
    font-size: 16px;
    line-height: 40px;
    color:white;
}

.footer-social3 > li > a:hover{
    text-decoration: underline;
    color: #7B68EE;
}

.fonter-conin::after{
    content: "";
    width: 50%;
    background: #777;
    height: 1px;
    display: block;
    margin: 0 auto;
}

.fonter-conin > h3{
    text-align: center;
    margin-top: 70px;
    color:white;
}

.footer-social4{
    list-style: none;
    margin-left: 40px;
    margin-top: 20px;
}

.footer-social4 > li > a{
    display: block;
    color:white;
    text-decoration: none;
    
    
}

.footercon1 >i::after{
    content: " Phone";
    margin-left: 10px;
    color:white;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
}

.footercon2 >i::after{
    content: " Email";
    margin-left: 10px;
    color:white;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    
}

.footercon3 >i::after{
    content: " Address";
    margin-left: 10px;
    color:white;
    font-family: Arial;
    font-weight: 400;
    font-size: 15px;
    
}

.footercon1 >i{
    font-size: 20px;
}

.footercon2 >i{
    font-size: 20px;
}

.footercon3 >i{
    font-size: 20px;
}

.footercon1 >a{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footercon2 >a{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footercon2 >a:hover{
    text-decoration: underline;
    color: #7B68EE;
}

.footercon3 >a{
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.coppywritht > i{
    font-size: 10px;
    color:white;
    margin-top: 30px;
   
   
}

.footer-term > a::after{
    content: "| Privacy Policy";
    font-size: 14px;
    color:white;
    margin-left: 5px;
}

.footer-term > a{
    font-size: 14px;
    color:white;
    text-decoration: none;
}

.footer-term1{
    margin-top: 20px;
    transform: translateX(180px);
}
/* footer section end here */




            
              
